<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
</head>
<body>

<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
  <style>
    body {
      font-family: 'Gowun Batang', serif;
    }

    .carousel-inner > .product {
      height: 350px;
    }

    .margin {
      margin-bottom: 30px;
    }

    .banner {
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
    }

    .card-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    a:hover {
      text-decoration: none;
    }

    .center {
      text-align: center;
    }
  </style>
</th:block>

<div layout:fragment="content">
  <input name="searchQuery" th:value="${productSearchDto.searchQuery}"
         type="hidden">
  <div class="center"
       th:if="${not #strings.isEmpty(productSearchDto.searchQuery)}">
    <p class="h3 font-weight-bold" th:text="${productSearchDto.searchQuery} + '검색 결과'"></p>
  </div>
  <div class="row">
    <th:block th:each="product, status: ${products.getContent()}">
      <div class="col-md-4 margin">
        <div class="card">
          <a class="text-dark" th:href="'/product/' +${product.id}">
            <img class="card-img-top" height="400" th:alt="${product.productName}"
                 th:src="${product.imageUrl}">
            <div class="card-body">
              <h4 class="card-title">[[${product.productName}]]</h4>
              <p class="card-text">[[${product.productDetail}]]</p>
              <h3 class="card-title text-danger">[[${product.price}]]원</h3>
            </div>
          </a>
        </div>
      </div>
    </th:block>
  </div>

  <div th:with="start=${(products.number/maxPage)*maxPage + 1}, end=(${(products.totalPages == 0) ? 1 : (start + (maxPage - 1)
  < products.totalPages ? start + (maxPage - 1) : products.totalPages)})">
    <ul class="pagination justify-content-center">

      <li class="page-product" th:classappend="${products.number eq 0}?'disabled':''">
        <a aria-label='Previous'
           class="page-link" th:href="@{'/product?category=ALBUM' + '&searchQuery=' + ${productSearchDto.searchQuery} + '&page=' + ${products.number-1}}">
          <span aria-hidden='true' style="color: #000000">이전</span>
        </a>
      </li>
      <li class="page-product" th:classappend="${products.number eq page-1}?'active':''"
          th:each="page: ${#numbers.sequence(start, end)}">
        <a class="page-link"
           style="color: #000000" th:href="@{'/product?category=ALBUM' +'&searchQuery=' + ${productSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text">[[${page}]]</a>
      </li>
      <li class="page-product"
          th:classappend="${products.number+1 ge products.totalPages}?'disabled':''">
        <a aria-label='Next'
           class="page-link" th:href="@{'/product?category=ALBUM' +'&searchQuery=' + ${productSearchDto.searchQuery} + '&page=' + ${products.number+1}}">
          <span aria-hidden='true' style="color: #000000">다음</span>
        </a>
      </li>
    </ul>
  </div>
</div>